<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>jabbin</string>
	<key>CFBundleGetInfoString</key>
	<string>Jabbin 3.0</string>
	<key>CFBundleIconFile</key>
	<string>application.icns</string>
	<key>CFBundleIdentifier</key>
	<string>jabbin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Jabbin</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>jabbin</string>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://download.jabbin.com/jabbin/version.xml</string>
	<key>SUShowReleaseNotes</key>
	<true/>
</dict>
</plist>
